:root{
    --first-color: #22A39F;
    --first-color-neon: #00fff7;
    --second-color:#434242;
    --third-color:#d6d5d1;
    --background-color:#222222;
}

html{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
*,
*::before,
*::after{
    box-sizing: inherit;
}

body{
    background-color: #222222;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 0;
    margin: 0;
}
body::-webkit-scrollbar{
    width: 8px;
}

body::-webkit-scrollbar-track{
    background-color: #222222;
}

body::-webkit-scrollbar-thumb{
    background-color: var(--first-color-neon);
    border-radius: .5rem;
}

.img-brand{
    width: 40%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

.brand{
    width: inherit;
    height: 30vh;
}

section{
    width: 60%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
    border: thin solid #00fff7;
    margin: 5rem auto;
    background-color: #434242;
    color: #d6d5d1;
}

.points,
.game{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.game{
    border: thin solid #22A39F;
}

.me,
.pc{
    padding: .5rem;
    width: 30%;
    height: 10vh;
    text-align: start;
}

h3{
    display: inline;
}

p{
    display: inline;
    color: #22A39F;
    margin-left: 0.5rem;
    font-size: 2rem;
}
.yo,
.maquina{
    width: 30%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bck-img,
.bck-img1{
    width: 50%;
    height: auto;
    background-color: #60a1a0;
    border-radius: 1rem;
    display: none;
}

.bck-img > img,
.bck-img1 > img{
    width: 100%;
    height: 10rem;
}

.text{
    text-align: center;
    font-size: 3rem;
    color:#d6d5d1;
    animation: movement 3s infinite;
    transition: .5s;

}

@keyframes movement {
    0%{
        transform: scale(.1);
        color: #29817e;
    }

    100%{
        transform: scale(1);
        color: #00fff7;
    }
}


.options{
    width: 100%;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-flow: row nowrap;
}

button{
    width: 7rem;
    height: 15vh;
    background-color: #22A39F;
    border-radius: 50%;
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

button:hover{
    background-color: #00fff7;
    box-shadow: 3px 3px 10px #22A39F;
}

img{
    width: inherit;
    height: 5rem;
}
